<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TfsHipChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <TfsHipChat.Properties.Settings>
      <setting name="HipChat_Token" serializeAs="String">
        <value />
      </setting>
      <setting name="HipChat_From" serializeAs="String">
        <value>TFS</value>
      </setting>
    </TfsHipChat.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="TfsHipChat">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EventServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="EventServiceBehavior" name="TfsHipChat.TfsHipChatEventService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="TfsHipChat"
          contract="TfsHipChat.IEventService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/TfsHipChat" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>